<!-- app/views/seats/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Seat Reservation</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <h1 class="display-4 text-left my-4"><%= Room.first.name %></h1>
  <h4 class="mb-4">Selecione os lugares que pretende reservar</h4>
  <div style="display: flex; flex-wrap: wrap; max-width: 600px;">
    <% @seats.order(:id).each_slice(20) do |row| %>
      <div style="display: flex;">
        <% row.each do |seat| %>
          <div id="circle-<%= seat.id%>" style="cursor: pointer; margin: 5px; width: 30px; height: 30px; border-radius: 50%; background-color: <%= seat_color(seat) %>; display: flex; align-items: center; justify-content: center;" onclick="selectSeat(<%= seat.id %>)">
            <p id="circle-value-<%= seat.id%>" style="text-align: center;"><%= seat.id %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <form id="seat-selection-form" action="" method="post" style="display: none;">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" id="room-id" data-room-id="<%= Room.first.id %>" />
  </form>

  <div class="d-flex justify-content-start mt3">
    <% if Room.first.seats.any? { |seat| seat.status == 'selecionado' } %>
      <h5 class="align-self-center mr-2">Reserve já: </h5>
      <%= button_to 'Reservar', reserve_seats_path, method: :put, remote: true %>
    <% end %>
  </div>

  <script>
    if (!window.currentUserId) {
      let currentUserId = "<%= session.id %>";
      window.currentUserId = currentUserId;
    }

  function selectSeat(seatId) {
    // Update the action attribute of the form
    const form = document.getElementById('seat-selection-form');
    form.action = `/seats/${seatId}`;

    // Submit the form
    form.submit();
  }
</script>

</body>
</html>
